package ${package.Controller};

import ${package.Vo}.${table.voName};
import ${package.QryVo}.${table.qryVoName};
import ${package.Service}.${table.serviceName};

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
#if(${restControllerStyle})
#else
import org.springframework.stereotype.Controller;
#end
#if(${cfg.usingSwagger})
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
#end
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end
import com.seekon.hr.web.response.BaseResponse;

import org.springframework.validation.annotation.Validated;
import org.hibernate.validator.constraints.NotBlank;

import com.seekon.hr.web.utils.StringUtils;
import org.springframework.util.Assert;

import static com.seekon.hr.web.response.HttpResponses.*;
/**
 * <p>
 * $!{table.comment} 前端控制器
 * </p>
 *
 * @since ${date}
 */
#if(${restControllerStyle})
@RestController
#else
@Controller
#end
#if(${cfg.usingSwagger})
@Api(tags = "$!{table.comment}")
#end
@RequestMapping("#if(${package.ModuleName})/${package.ModuleName}#end/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end")
#if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass} {
#else
public class ${table.controllerName} {
#end
#set($keyPropertyType="String")
#set($keyPropertyName="pid")
#set($capitalServiceName="${instance}Service")

    @Autowired
    private ${table.serviceName} ${capitalServiceName};

#if(${cfg.usingSwagger})
    @ApiOperation(value = "根据主键获取$!{table.comment}")
#end
    @GetMapping
    public BaseResponse<${table.voName}> get(@NotBlank $keyPropertyType $keyPropertyName){
        return BaseResponse.response(DEAL_SUCCESS).data(${capitalServiceName}.selectByPrimaryKey($keyPropertyName));
    }

#if(${cfg.usingSwagger})
    @ApiOperation(value = "根据主键删除$!{table.comment}")
#end
    @PostMapping(value = "/delete")
    public BaseResponse delete(@NotBlank $keyPropertyType $keyPropertyName){
        ${capitalServiceName}.delete($keyPropertyName);
        return BaseResponse.response(DEAL_SUCCESS);
    }

#if(${cfg.usingSwagger})
    @ApiOperation(value = "获取$!{table.comment}列表")
#end
    @GetMapping(value = "/list")
    public BaseResponse<${table.voName}> selectList(${table.qryVoName} qryVo){
        return BaseResponse.response(DEAL_SUCCESS).data(${capitalServiceName}.selectList(qryVo));
    }

#if(${cfg.usingSwagger})
    @ApiOperation(value = "新增$!{table.comment}")
#end
    @PostMapping
    public BaseResponse insert(@Validated ${table.voName} ${instance}Vo){
        ${capitalServiceName}.insertSelective(${instance}Vo);
        return BaseResponse.response(DEAL_SUCCESS);
    }

#if(${cfg.usingSwagger})
    @ApiOperation(value = "根据主键更新$!{table.comment}信息")
#end
    @PostMapping(value = "/update")
    public BaseResponse update(${table.voName} ${instance}Vo){
        Assert.isTrue(!StringUtils.isEmpty(${instance}Vo.getPid()), "主键不能为空!");
        ${capitalServiceName}.updateByPrimaryKeySelective(${instance}Vo);
        return BaseResponse.response(DEAL_SUCCESS);
    }
	
}
