package ${package.Mapper};

import ${package.Entity}.${entity};
import ${package.Qry}.${table.entityQryName};
#if($cfg.baseMapper == 1)
import ${superMapperClassPackage};
#end
import org.apache.ibatis.annotations.Param;
import org.apache.ibatis.annotations.Mapper;
import java.util.List;

/**
 * <p>
  * $!{table.comment} Mapper 接口
 * </p>
 *
 * @since ${date}
 */

@Mapper
#if($cfg.baseMapper == 1)
public interface ${table.mapperName} extends ${superMapperClass}<${entity}>{
#elseif($cfg.baseMapper == 2)
public interface ${table.mapperName} extends  BaseMapper<${entity}, ${table.keyField.propertyType}>{
#else
public interface ${table.mapperName}{

        ${entity} selectByPrimaryKey(String pid);

        List<${entity}> selectList(${table.qryName} qry);

        ${entity} checkExists(@Param("unitId") String unitId, @Param("name") String name);

        int insertSelective(${entity} ${instance});

        int updateByPrimaryKeySelective(${entity} ${instance});

        int delete(String pid);

#end
}