<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package.Mapper}.${table.mapperName}">

#if(${enableCache})
	<!-- 开启二级缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

#end
#if(${baseResultMap})
	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="${package.Entity}.${entity}">
#foreach($field in ${table.fields})
#if(${field.keyFlag})##生成主键排在第一位
	#set($keyPropertyType=${field.propertyType})
	#set($keyPropertyName=${field.propertyName})
	#set($keyFieldName=${field.name})
		<id column="${field.name}" property="${field.propertyName}" />
#end
#end
#foreach($field in ${table.commonFields})##生成公共字段
	<result column="${field.name}" property="${field.propertyName}" />
#end
#foreach($field in ${table.fields})
#if(!${field.keyFlag})##生成普通字段
		<result column="${field.name}" property="${field.propertyName}" />
#end
#end
	</resultMap>

#end
#if(${baseColumnList})
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
#foreach($field in ${table.commonFields})
	#if(${field.name} == ${field.propertyName})${field.name}#else${field.name} AS ${field.propertyName}#end,
#end
        ${table.fieldNames}
    </sql>
#end
	<select id="selectList" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM ${table.name}
	</select>

	<select id="selectByPrimaryKey" parameterType="$keyPropertyType">
        SELECT
        <include refid="Base_Column_List" />
        FROM ${table.name}
		WHERE $keyFieldName = #{_parameter}
	</select>

    <insert id="insert" parameterType="${entity}" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ${table.name}(#set($i = 0)#foreach($field in ${table.fields})#set($i = $i + 1)${field.name}#if($i!=$table.fields.size()), #end#end)
        VALUES (#set($i = 0)#foreach($field in ${table.fields})#set($i = $i + 1)#{${field.propertyName}}#if($i!=$table.fields.size()), #end#end)
    </insert>

    <insert id="insertSelective" parameterType="${entity}" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ${table.name}(
        <trim suffixOverrides=",">
#foreach($field in $table.fields)
			<if test="${field.propertyName} != null and ${field.propertyName} != ''">${field.name},</if>
#end
        </trim>
        ) VALUES (
        <trim suffixOverrides=",">
#foreach($field in $table.fields)
			<if test="${field.propertyName} != null and ${field.propertyName} != ''">#{${field.propertyName}},</if>
#end
        </trim>
        )
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="${entity}">
        UPDATE ${table.name} SET
        <trim suffixOverrides=",">
#foreach($field in $table.fields)
#if(!${field.keyFlag})
			<if test="${field.propertyName} != null and ${field.propertyName} != ''">${field.name} = #{${field.propertyName}},</if>
#end
#end
        </trim>
        WHERE $keyFieldName = #{$keyPropertyName}
	</update>

    <update id="updateByPrimaryKey" parameterType="${entity}">
        UPDATE $table.name SET
#set($i = 0)
#foreach($field in $table.fields)
#set($i = $i + 1)
#if(!${field.keyFlag})
		$field.name = #{$field.propertyName}#if($i != $table.fields.size()),#end
#end
#end
        WHERE $keyFieldName = #{$keyPropertyName}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="$keyPropertyType">
        DELETE FROM $table.name WHERE $keyFieldName = #{_parameter}
    </delete>
</mapper>
