package ${package.Service};

import ${package.QryVo}.${table.qryVoName};
import ${package.Vo}.${table.voName};
#if($cfg.baseService == 1)
import ${superServiceClassPackage};
#end
import com.github.pagehelper.PageInfo;
/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @since ${date}
 */
#if($cfg.baseService == 1)
public interface ${table.serviceName} extends ${superMapperClass}<${entity}>{
#elseif($cfg.baseService == 2)
public interface ${table.serviceName} extends  BaseService<${entity}, ${table.keyField.propertyType}>{
#else
public interface ${table.serviceName}{

    ${table.voName} selectByPrimaryKey(String pid);

    PageInfo<${table.voName}> selectList(${table.qryVoName} qryVo);

    int insertSelective(${table.voName} ${instance}Vo);

    int updateByPrimaryKeySelective(${table.voName} ${instance}Vo);

    int delete(String pid);

#end
}
